@font-face {
    font-family: 'Oswald';
    src: url(./fonts/Oswald-VariableFont_wght.ttf)
}

@font-face {
    font-family: 'Barlow';
    src: url(./fonts/BarlowSemiCondensed-Light.ttf)
}

.row {
    margin: 5px 20px 5px 20px;
}

p, li { 
    text-align: justify;
    font-family: 'Barlow';
    font-size: 17px;
}

p.red {
    color: #aa0000;
}

.blue {
    color: blue;
}

figcaption {
    font-family: 'Oswald';
}

a {
    color: red;
}

a.white {
    color: white;
}

a:hover {
    color: #aa0000;
}

hr.black {
    border: 5px solid black;
}

hr.red {
    border: 2px solid #aa0000;
}

hr.blockquote {
    border: 2px solid #B3995D;
}

hr.orange {
    border: 2px solid #fe5a1d;
}

hr.dark {
    border: solid darkslategray
}

.image-container {
    text-align: center;
}

.kings {
    color: #5a2b81;
}

.niners {
    color: #B3995D;
}

.love {
    color: #FF69B4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.left {
    float: left;
    margin-left: 5px;
    margin-top: 0px;
}

.right {
    float: right;
    margin-right: 5px;
    margin-top: 0px;
}